{% extends 'base.html.twig' %}

{% block title %}ShowClass index{% endblock %}

{% block body %}
    <h1>ShowClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ClassTitle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show_class in show_classes %}
            <tr>
                <td>{{ show_class.id }}</td>
                <td>{{ show_class.classTitle }}</td>
                <td>
                    <a href="{{ path('show_class_show', {'id': show_class.id}) }}">show</a>
                    <a href="{{ path('show_class_edit', {'id': show_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('show_class_new') }}">Create new</a>
{% endblock %}